{% extends 'layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block container %}

    {% for course in courses %}
    <div class="col-lg-4 col-md-6 col-sm-6 mx-auto mt-4">
        <div class="card  bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">{{course.name}}</div>
            <div class="card-body">
                <h5 class="card-title">
                    {{course.title}}
                </h5>
                <p class="card-text">{{course.description}}</p>
                
                <a href="{{course.url}}" class="card-link">Ir al Curso</a>
                
                <div class="text-center mt-2">
                    <a href="{{url_for('admin.update_course', id = course.id)}}" class="btn btn-primary">Modificar</a>
                    <a href="{{url_for('admin.delete_course', id = course.id)}}" class="btn btn-danger">Eliminar</a>

                </div>
            </div>
        </div>
    </div>

    {% endfor%}
    
{% endblock %}