{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %}
    {{title}}
{% endblock %}

{% block container %}
<div class="col-md-9 mx-auto mt-4">

    <form method="POST">

        <h3 class="mt-4 text-center mb-4">{{title}}</h3>
        {{form.csrf_token()}}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{render_field(form.name, class="form-control", placeholder="Ingrese un nombre")}}
                </div>
                <div class="form-group">
                    {{render_field(form.title, class="form-control", placeholder="Ingrese un título")}}
                </div>
                <div class="form-group">
                    {{render_field(form.description, class="form-control", placeholder="Ingrese un título")}}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{render_field(form.url, class="form-control", placeholder="Ingrese un título")}}
                </div>
                <div class="row">

                    <div class="col-6">
                        <div class="form-group">
                            {{render_field(form.module, class="form-control", placeholder="...")}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{render_field(form.chapter, class="form-control", placeholder="...")}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{render_field(form.category, class="form-control", placeholder="...")}}
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="button">
                {% if update %}
                    Actualizar
                {% else %}
                    Agregar
                {% endif %}
            </button>
            <a href="{{url_for('admin.get_courses')}}" class="btn btn-danger" type="submit">Cancelar</a>
        </div>
    </form>
</div>
{% endblock%}