{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %}
    {{title}}
{% endblock %}

{% block container %}
    <div class="col-md-6 mx-auto mt-4">
        <form method="post">
            <h3 class="mt-4 text-center mb-4">{{title}}</h3>
            <div class="form-group">
                <label for=""> <b> Ingrese nueva contraseña</b></label>
                <input type="text" id="password" name="password" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{{url_for('auth.dashboard_user')}}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}