{% extends 'layout.html' %}

{% block container %}

    <!-- {% if user %}
        <h2>Hola desde Dashboard - Bienvenido {{user}}</h2>
    {% else %}
        
        <h2>Hola desde Dashboard</h2>
    {% endif %} -->
    
    {% if current_user.is_authenticated %}
        hi {{current_user.username}}
    {% endif %}

{% endblock%}