{% extends 'layout.html' %}

{% from 'helpers/_forms.html' import render_field %}

{% block container %}

<div class="col-md-6 mx-auto mt-4">
    <form action="" method="POST">
        <h3 class="mt-4 text-center mb-4">LOGIN</h3>
        {{form.csrf_token()}}
    
        <!-- <div class="form-group">
            {{form.username.label(class="label-forms")}}
            {{form.username(class="input-forms")}}
        </div> -->
    
        <div class="form-group">
            {{render_field(form.username, class="form-control", placeholder="Ingrese su usuario")}}
        </div>
        <div class="form-group">
            {{render_field(form.password, class="form-control", placeholder="Ingrese su password")}}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="button">Iniciar Sesión</button>
        </div>
        
     
    
    </form>
</div>

{% endblock %}