{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %}
    {{title}}
{% endblock %}

{% block container %}

<div class="col-md-6 mx-auto mt-4">
    <form  method="POST">
        <h3 class="mt-4 text-center mb-4">{{title}}</h3>
        {{form.csrf_token()}}
       
       
        <div class="form-group">
            {{render_field(form.username, class="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.email, class="form-control")}}
        </div>
        <div class="form-group">
            {% if password %}
                <!-- NO mostrar password dado que está hasheado-->
                <label> <b>Password</b></label>
                <a href="{{url_for('admin.update_password', id = current_user.id)}}" class="btn btn-warning">cambiar contraseña</a>
            {% else %}
                {{render_field(form.password, class="form-control")}}   
            {% endif%}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="button">
                {% if button %}
                    Update
                {% else %}
                    Enviar
                {% endif%}    
            </button>
            <a href="{{url_for('admin.get_courses')}}" class="btn btn-danger">Cancelar</a>
        </div>
        
    
    </form>
</div>

{% endblock %}