{% extends 'bootstrap/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block styles %}
{{super()}}
<!-- En caso quiera importar alguno css -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->
{% endblock %}

<!--     <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <dic class="container">
            <a class="navbar-brand" href="#"></a>
            <div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Index</a>
                    </li>
                </ul>
            </div>
        </dic>
    </nav> -->
{% block navbar %}    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        
            <a class="navbar-brand" href="/">Noa
                <img src="{{url_for('static', filename='img/aceite-de-palma.png')}}" alt="" width="30" height="30" class="d-inline-block align-top mr-1">
            </a>
            <div >
                {% if current_user.is_authenticated %}
                <ul class="nav justify-content-center">
                    <li>
                        <a href="{{url_for('admin.get_courses')}}" class="nav-link" style="color:aliceblue;">
                            <img src="{{url_for('static', filename='img/online-course.png')}}" alt="" width="25">
                            Cursos
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('admin.add_courses')}}" class="nav-link" style="color: aliceblue;">
                            <img src="{{url_for('static', filename='img/add.png')}}" alt="" width="25">
                            Agregar
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div>
                <ul class="nav justify-content-end">
                    
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.dashboard_user')}}" style="color: aliceblue;"> 
                            <img src="{{url_for('static', filename='img/hombre.png')}}" alt="figura de hombre" width="25"> 
                            {{current_user.username}}                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.logout')}}" style="color: aliceblue;">
                            <img src="{{url_for('static', filename='img/cerrar-sesion.png')}}" alt="" width="25">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('auth.index')}}" style="color: aliceblue;">Inicio</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.signin')}}" style="color: aliceblue;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('auth.signup')}}" style="color: aliceblue;">Registrarse</a>
                    </li>

                    {% endif %}
                  </ul>
            </div>
      

        </div>
    
      </nav>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% block container %}
        {% endblock%}
    </div>
</div>    
{% endblock %}

